.cart-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .cart-title {
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #06CAF5;
  }

  .cart-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .cart-items {
    flex: 1;
    margin-right: 20px;

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;

      .cart-item-image {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        object-fit: cover;
        margin-right: 20px;
      }

      .cart-item-details {
        flex-grow: 1;

        h3 {
          font-size: 1.2rem;
          color: #333;
          margin-bottom: 5px;
        }

        p {
          font-size: 0.9rem;
          color: #777;
          margin-bottom: 5px;

          .cart-item-price {
            font-size: 1rem;
            font-weight: bold;
            color: #e74c3c;
          }
        }
      }

      .cart-item-quantity {
        display: flex;
        align-items: center;

        button {
          background-color: #e74c3c;
          color: #fff;
          border: none;
          border-radius: 5px;
          padding: 5px 10px;
          margin: 0 10px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #c0392b;
          }
        }

        span {
          font-size: 1rem;
          font-weight: bold;
          color: #333;
        }
      }

      .cart-item-remove {
        background-color: transparent;
        border: none;
        color: #e74c3c;
        cursor: pointer;
        font-size: 1.2rem;
        transition: color 0.3s;

        &:hover {
          color: #c0392b;
        }
      }
    }
  }

  .order-summary {
    flex: 0 0 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;

    h3 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }

    .summary-detail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      p {
        font-size: 1rem;
        color: #555;
      }

      .text-danger {
        color: #e74c3c;
      }
    }

    .summary-total {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      margin-top: 20px;
    }

    .promo-code {
      display: flex;
      margin-top: 20px;

      input {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 1rem;
        transition: border-color 0.3s;

        &:focus {
          border-color: #3498db;
          outline: none;
        }
      }

      button {
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #2980b9;
        }
      }
    }

    .checkout-button {
      display: block;
      width: 100%;
      padding: 15px;
      background-color: #e74c3c;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;

      &:hover {
        background-color: #c0392b;
      }

      &:disabled {
        background-color: #bdc3c7;
        cursor: not-allowed;
      }
    }
  }

  .empty-cart-message {
    text-align: center;
    flex: 1;
    margin-top: 2rem;

    p {
      margin-bottom: 1rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #333;
    }

    img.empty-cart-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
      width: 60%;
    }

    .shop-now-button {
      text-align: center;

      button {
        padding: 10px 20px;
        background-color: #0016A8;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
}
