.header-top {
  background-color: #0016A8;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-style: normal;

  p {
    margin: 0;
    a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &.hidden {
    display: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;

  .logo {
    h1 {
      color: red;
      margin: 0;
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      a {color: red;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

    li {
      margin: 0 15px;
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;

    a {
      margin-left: 15px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }  
  
  .search-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  
    input {
      width: 50%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 20px;
      outline: none;
    }
  
    .search-results {
      font-family: 'Oswald', sans-serif;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ddd;
      max-height: 200px;
      overflow-y: auto;
      margin-top: 5px;
      border-radius: 5px;
      z-index: 1000;
  
      .close-search {
        background: transparent;
        border: none;
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
      }
  
      ul {
        list-style: none;
        margin: 0;
        padding: 40px 10px 10px;
  
        li {
          display: flex;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          border-bottom: 1px solid #ddd;
  
          &:hover {
            background-color: #f5f5f5;
          }
  
          img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 5px;
            object-fit: cover; /* Ensure the image fits nicely */
          }
  
          span {
            flex-grow: 1;
            font-size: 14px;
            color: #333;
          }
        }
      }
  
      .search-no-results {
        padding: 40px 10px 10px;
        color: #999;
        font-family: 'Oswald', sans-serif;
      }
    }
  }
  
}
