<div class="header-top" id="header-top">
  <p>Sign up and get 20% off to your first order. <a href="signup">Sign Up Now</a></p>
  <span class="close" id="close-btn">×</span>
</div>
<nav class="navbar">
  <div class="logo">
    <h1><a href="homepage">JAY.CO</a></h1>
  </div>
  <ul class="nav-links">
    <li><a href="#">Shop</a></li>
    <li><a href="#">On Sale</a></li>
    <li><a href="#">New Arrivals</a></li>
  </ul>
  <div class="search-container">
    <input type="text" placeholder="Search for products..." />
  </div>
  <div class="icons">
    <a href="cart-list"><img src="assets/icons/shopping-cart.png" alt="Cart"></a>
    <a href="account"><img src="assets/icons/user.png" alt="User"></a>
  </div>
</nav>
