<div *ngIf="product" class="product-detail-container">
  <div class="product-images">
    <img [src]="product.image" alt="{{ product.title }}">
  </div>

  <div class="product-info">
    <h1>{{ product.title }}</h1>
    <div class="product-rating">
      <span>{{ product.rating.rate }}</span> / 5
    </div>
    <div class="product-price">
      <span class="current-price">${{ product.price }}</span>
    </div>
    <p>{{ product.description }}</p>

    <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>

<div class="similar-items">
  <h1>YOU MAY ALSO LIKE</h1>
  <div class="products">
    <div class="product" *ngFor="let similarProduct of similarProducts" (click)="viewProductDetail(similarProduct.id)">
      <div class="product-image-wrapper">
        <img [src]="similarProduct.image" alt="{{ similarProduct.title }}">
      </div>
      <h3>{{ similarProduct.title }}</h3>
      <p>${{ similarProduct.price }}</p>
    </div>
  </div>
  <a href="/products"><button>View All</button></a>
</div>
