<div *ngIf="product" class="product-detail-container">
  <div class="product-images">
    <img [src]="product.image" alt="{{ product.title }}">
  </div>

  <div class="product-info">
    <h1>{{ product.title }}</h1>
    <div class="product-rating">
      <span>{{ product.rating.rate }}</span> / 5
    </div>
    <div class="product-price">
      <span class="current-price">${{ product.price }}</span>
    </div>
    <p>{{ product.description }}</p>

    <button class="add-to-cart-button">Add to Cart</button>
  </div>
</div>
<div class="similar-items">
  <h1>SIMILAR ITEMS</h1>
  <div class="products">
    <div class="product">
      <img src="assets/images/product-1.png" alt="T-shirt with Tape Details">
      <h3>T-shirt with Tape Details</h3>
      <p>$120</p>
    </div>
    <div class="product">
      <img src="assets/images/product-2.png" alt="Skinny Fit Jeans">
      <h3>Skinny Fit Jeans</h3>
      <p>$240 <span>$260</span></p>
    </div>
    <div class="product">
      <img src="assets/images/product-3.png" alt="Checkered Shirt">
      <h3>Checkered Shirt</h3>
      <p>$180</p>
    </div>
    <div class="product">
      <img src="assets/images/product-4.png" alt="Sleeve Striped T-shirt">
      <h3>Sleeve Striped T-shirt</h3>
      <p>$130 <span>$160</span></p>
    </div>
  </div>
  <a href="products"><button>View All</button></a>