.profile-container {
    text-align: center;
    margin: 2rem auto;
    max-width: 400px;
    
    h1 {
      margin-bottom: 1rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #06CAF5;
    }
    
    p {
      margin-bottom: 2rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #333;
    }
    
    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      
      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        &:first-of-type {
          background-color: #0016A8;
          color: #fff;
        }
        
        &:last-of-type {
          background-color: #1af54d;
          color: #fff;
        }
      }
    }
  }
  